<div class="sidebar">
<section>
        <h1>PomarPro</h1>
        <img src="\assets\img\Pomar_pro jean.png" alt="">
        <nav>
            
                <a routerLink="/home">Home</a>
            <details>
                <summary>Adiministração</summary>
                <div>
             <a routerLink="/cadUsuario">Usiário</a>
               <a routerLink="/cadMaterial">Material</a>
                <li><a href="#/cadProduto">Produto</a></li>
            </div>

            </details>
            <details>
                <summary>Pomar</summary>
                <div>
                <a href="#cadastro">Cadastro</a>
                <a href="#movimento">movimento</a>
                <a href="#colheita">Colheita</a>
            </div>

            </details>
           
            
        </nav>
    </section>
</div>

    
